
    body {
      font-family: Arial, sans-serif;
    }

    #logo-image {
      cursor: pointer;
    }#maincointerifbodyisblank{
      margin-left: 250px;
    }

    main {
      padding: 20px;
    }

    .cart {
      margin: 20px auto;
      max-width: 800px;
    }

    .cart h1 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }

    th {
      font-weight: bold;
    }

    .cart-total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
    }

    .checkout-btn {
      background-color: #007aff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    .checkout-btn:hover {
      background-color: #0055ff;
    }

    #img {
      width: 30%;
    }

    .decrease-quantity,
    .increase-quantity {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .remove-item {
      /* border: none; */
      border-color: black;
      width: 100px;
      height: 50px;
      cursor: pointer;
    }

    #main_item_container {
      padding-top: 120px;
    }

    @media screen and (max-width: 768px) {
      .drop-downs {
        visibility: hidden;
      }

      #main_item_container {
        padding-top: 120px;
      }
    }
 